<!DOCTYPE html>
<html lang="en">
<head>
	<title>Connexion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/img1.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">

					<span class="login100-form-title p-b-34 p-t-27">
						Connexion
					</span>

					<div class="wrap-input100" data-validate = "Entrez votre pseudo">
						<input class="input100" type="text" name="username" placeholder="Identifiant">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100" data-validate="Entrez votre mot de passe">
						<input class="input100" type="password" name="pass" placeholder="Mot de passe">
						<span class="focus-input100"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Se rappeler de moi
						</label><br>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Connexion
						</button><br><br><br><br><br>
					</div>

					<div class="registration-button">
                        <a href="../inscription/inscription.html" class="registration-button">Vous n'avez pas encore de compte?</a>
                    </div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>