<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connexion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-center bg-cover bg-gradient-to-r from-blue-500 to-purple-500" style="background-image: url('images/img1.jpg');">

    <div class="w-full p-8 bg-white rounded-lg shadow-md sm:w-96">
        <h1 class="mb-6 text-3xl font-semibold text-center text-gray-800">Connexion</h1>

        <form class="space-y-4">

            <div class="relative">
                <input class="w-full p-3 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" type="text" name="username" placeholder="Identifiant" />
            </div>

            <div class="relative">
                <input class="w-full p-3 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" type="password" name="pass" placeholder="Mot de passe" />
            </div>

            <div class="flex items-center">
                <input class="mr-2" id="ckb1" type="checkbox" name="remember-me">
                <label for="ckb1" class="text-gray-700">Se rappeler de moi</label>
            </div>

            <button class="w-full p-3 text-white transition duration-300 rounded-md bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
                Connexion
            </button>

        </form>

        <div class="mt-6 text-center">
            <a href="../inscription/inscription.html" class="text-blue-500">Vous n'avez pas encore de compte ?</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
</body>
</html>
